.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 15rem;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
}

.small {
  text-align: right;
  opacity: 0.9;
  color: var(--light);
}

.counter {
  color: var(--primary);
  font-weight: 700;
}
