.input {
  border: 1px solid var(--primary);
  background-color: transparent;
  outline: none;
  border-radius: 0.4rem;
  color: var(--primary);
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  min-width: 340px;
}

.input::placeholder {
  color: var(--light);
}

.input[type="search"] {
  border: 0;
  border-bottom: 2px solid var(--primary);
  border-radius: 0;
}


.input[type="submit"] {
  cursor: pointer;
}

.input[type="submit"]:hover {
  background-color: var(--primary);
  color: var(--dark);
  font-weight: 700;
}

.textarea {
  height: 10rem;
  resize: none;
}
